body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.background-picture{
    background: url(images/back2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.white-box{
    background-color: #eee;
    display:inline-block;
    border: 0px #337AB7 solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    -webkit-border-radius: 25px 25px 25px 24px;
    -moz-border-radius: 25px 25px 25px 24px;
    border-radius: 25px 25px 25px 24px;
}

.container {
  vertical-align: middle;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.form-group,
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  vertical-align: middle;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  text-align: center;
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  /*position: relative;*/
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-group input[type="regular"],
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-group input[type="last"],
.form-control select[type="last"],
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
