body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-inverse {
	background-color: #337ab7;
}

.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}

.navbar .navbar-header > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;	
}